<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="grade">
	<select id="subjectList" resultType="SubjectVO">
		SELECT S.ID, D.NAME AS DEPT_NAME, S.DEPT_ID, S.PROFESSOR_ID, 
			   S.NAME, S.ROOM, S.TYPE, S.YEAR, S.SEMESTER, S.TIME, S.GRADES
		FROM SUBJECT S, DEPARTMENT D
		WHERE S.DEPT_ID = D.ID 
		AND S.PROFESSOR_ID = #{id}
	</select>

</mapper>