<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">

	<!-- 전체 공지글 수 조회-->
	<select id="totalNoticeCount" resultType="int">
		SELECT COUNT(*) AS CNT FROM NOTICE
	</select>
	
	<!-- 페이지에 해당하는 공지글 조회 -->
	<select id="noticeList" parameterType="map" resultType="com.namuuniv.vo.NoticeVO">
	<![CDATA[
		SELECT R.R_NUM, R.ID, R.TITLE, R.CONTENT, R.VIEWS,
		       R.CREATED, R.NAME AS staffName
		FROM (SELECT ROWNUM R_NUM, N.*
		      FROM (SELECT N.*, S.NAME
		            FROM NOTICE N
		            JOIN STAFF S ON N.STAFF_ID = S.ID
		            ORDER BY N.ID DESC
		            )N
		      WHERE ROWNUM <= #{end}
		      )R
		WHERE R.R_NUM >= #{begin}
	]]>
	</select>
	
	<!-- 공지글 1개 조회(상세보기) -->
	<select id="noticeDetail" parameterType="int" resultType="com.namuuniv.vo.NoticeVO">
		SELECT N.ID, N.TITLE, N.CONTENT, N.VIEWS, N.CREATED, S.NAME AS staffName
		FROM NOTICE N
		JOIN STAFF S ON N.STAFF_ID = S.ID
		WHERE N.ID = #{id}
	</select>
	
	<!-- 공지글 조회수 증가 -->
	<update id="updateViews" parameterType="int">
		UPDATE NOTICE
		SET VIEWS = VIEWS + 1
		WHERE ID = #{id}
	</update>

	<!-- 공지글 작성 -->
	<insert id="noticeWrite" parameterType="com.namuuniv.vo.NoticeVO">
		INSERT INTO NOTICE (ID, STAFF_ID, TITLE, CONTENT, VIEWS, CREATED)
		VALUES (NOTICE_SEQ.NEXTVAL, #{staffId}, #{title}, #{content}, 0, SYSDATE)	
	</insert>
	
	<!-- 공지글 수정 -->
	<update id="updateNotice" parameterType="com.namuuniv.vo.NoticeVO">
		UPDATE NOTICE 
		SET TITLE = #{title},
		    CONTENT = #{content}
		WHERE ID = #{id}
	</update>
	
	<!-- 공지글 삭제 -->
	<delete id="deleteNotice" parameterType="int">
		DELETE FROM NOTICE WHERE ID = #{id}
	</delete>
</mapper>
